
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-container">
                    <h2 class="contact-title">Contactanos</h2>
                    <form class="contact-form">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombres:</label>
                            <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
                        </div>
                        <div class="mb-3">
                            <label for="pet-name" class="form-label">Nombres de la mascota:</label>
                            <input type="text" class="form-control" id="pet-name" placeholder="Ingrese el nombre de su mascota">
                        </div>
                        <div class="mb-3">
                            <label for="birth-date" class="form-label">Fecha de nacimiento:</label>
                            <input type="date" class="form-control" id="birth-date">
                        </div>
                        <div class="mb-3">
                            <label for="breed" class="form-label">Raza:</label>
                            <input type="text" class="form-control" id="breed" placeholder="Ingrese la raza de su mascota">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Numero:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="Ingrese su número de contacto">
                        </div>
                        <div class="mb-3">
                            <label for="inquiry" class="form-label">Consulta:</label>
                            <textarea class="form-control" id="inquiry" rows="3" placeholder="Ingrese su consulta"></textarea>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="privacyPolicy">
                            <label class="form-check-label" for="privacyPolicy">
                                Estoy de acuerdo con las      <a href="#">Politicas de privacidad</a>
                            </label>
                        </div>
                        <button type="submit" class="btn submit-btn">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 pet-images">
                <img src="/assets/img/petshopLogo.png" alt="Imagen de mascotas" class="img-fluid">
            </div>
        </div>
    </div>

