<div class="container">
  <div class="category-bar">
    <div class="category-item">
      <img src="/assets/img/petshopLogo.png" alt="Gatos" />
      <p>gatos</p>
    </div>
    <div class="category-item">
      <img src="/assets/img/petshopLogo.png" alt="Perros" />
      <p>perros</p>
    </div>
    <div class="category-item">
      <img src="/assets/img/petshopLogo.png" alt="Loros" />
      <p>loros</p>
    </div>
    <div class="category-item">
      <img src="/assets/img/petshopLogo.png" alt="Hamsters" />
      <p>hamsters</p>
    </div>
    <div class="category-item">
      <img src="/assets/img/petshopLogo.png" alt="Peces" />
      <p>peces</p>
    </div>
    <div class="category-item">
      <img src="/assets/img/petshopLogo.png" alt="Otros" />
      <p>otros Pets</p>
    </div>
  </div>
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="filter-section">
          <h5>Filtro</h5>
          <p class="mt-3">Marcas</p>
          <div>
            <input type="checkbox" id="select" />
            <label for="select">| Select</label><br />
            <input type="checkbox" id="mimascot" />
            <label for="mimascot">| Mimascot</label><br />
            <input type="checkbox" id="ricocan" />
            <label for="ricocan">| Ricocan</label><br />
            <input type="checkbox" id="ricocan" />
            <label for="ricocan">| Ricocan</label><br />
            <input type="checkbox" id="ricocan" />
            <label for="ricocan">| Ricocan</label><br />
            <input type="checkbox" id="ricocan" />
            <label for="ricocan">| Ricocan</label><br />
          </div >
          <p class="mt-3">Precio</p>
          <div class="price-filter-inputs">
            <input type="number" class="price-input" placeholder="Desde" min="0">
            <span>-</span>
            <input type="number" class="price-input" placeholder="Hasta" min="0">
        </div>
          <button class="btn btn-filter mt-3">Filtrar</button>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">

          <div class="col-md-4">
            <div class="card product-card">
              <img
                src="/assets/img/petshopLogo.png"
                class="card-img-top"
                alt="Product"
              />
              <div class="product-info">
                <h6>48.00 SOL</h6>
                <p>Select, Dog Food With Lamb, Gluten-Free, 3 Kg</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card product-card">
              <img
                src="/assets/img/petshopLogo.png"
                class="card-img-top"
                alt="Product"
              />
              <div class="product-info">
                <h6>135.00 SOL</h6>
                <p>Select, Puppy Food With Chicken, Gluten-Free, 12 Kg</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card product-card">
              <img
                src="/assets/img/petshopLogo.png"
                class="card-img-top"
                alt="Product"
              />
              <div class="product-info">
                <h6>125.00 SOL</h6>
                <p>Select, Dog Food With Chicken Meat, Gluten-Free, 12 Kg</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card product-card">
              <img
                src="/assets/img/petshopLogo.png"
                class="card-img-top"
                alt="Product"
              />
              <div class="product-info">
                <h6>104.00 SOL</h6>
                <p>Select, Dog Food With Chicken, Gluten-Free, 8 Kg</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card product-card">
              <img
                src="/assets/img/petshopLogo.png"
                class="card-img-top"
                alt="Product"
              />
              <div class="product-info">
                <h6>48.00 SOL</h6>
                <p>Select, Dog Food With Salmon, Gluten-Free, 3 Kg</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card product-card">
              <img
                src="/assets/img/petshopLogo.png"
                class="card-img-top"
                alt="Product"
              />
              <div class="product-info">
                <h6>135.00 SOL</h6>
                <p>Select, Dog Food With Lamb and Rice, Gluten-Free, 12 Kg</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>