<header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <div class="divlogo">
      <label class="logo"> <img src="/assets/img/petshopLogo.png" width="135px" height="135px" alt="PetParadise"></label>
      </div>
      <ul>
        <li><a class="active" routerLink="/app-root">Menu</a></li>
        <li><a  routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/nosotros">Productos</a></li>
        <li><a routerLink="#">Adopta</a></li>
        <li><a routerLink="#">Busquemos</a></li>
        <li><a routerLink="#">Contacto</a></li>
      </ul> 
      <div class="shopcart">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </nav>
</header>

