<footer class="footer">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="/assets/img/petshopLogo2.png" alt="PetParadise">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Acerca de nosotros</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus laborum modi illum et officiis explicabo saepe quo quia cumque! Impedit assumenda dolorem saepe autem unde nihil, corporis sapiente dignissimos?</p>
      </div>
      <div class="box">
        <h2>Siguenos</h2>
        <div class="red-social">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-youtube"></a>
        </div>
      </div>
    </div>
    <div class="grupo-2"> 
      <small>&copy; 2024 <b>PetParadise</b> - Todos los derechos reveservados </small>
    </div>
  </footer>
 